body{
     
    margin:0px;
    background-color: rgb(223, 127, 2);
    padding:0px;
}
.div{
    height:400px;
    width:500px;
    border:black;
     
}
nav{
    background-color: blanchedalmond;
     
}