body{
     
    margin:0px;
    background-color: rgb(223, 127, 2);
    padding:0px;
}
.div{
    
     
}
nav{
    background-color: blanchedalmond;
     
}
nav ul{
    display:flex;
}
nav ul li a{
    margin:30px;
}